/* Logo inspiration from https://www.ajafrost.com/ */
.logo {
	font-family: Mistral, Mariah Regular, sans-serif;
	font-size: 90px;
	background-color: lightblue;
	color: white;
	text-align: center;	
}
.bodydiv {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
/* Column CSS inspired by w3schools. Came up with values by messing around with the border when the website was open*/
.column {
	border-right-style: solid;
	border-left-style: solid;
	border-color: lightblue;
	border-right-width: 5px;
	border-left-width: 5px;
text-align: center;
  float: left;
  width: 49%;
}
.row:after {
  content:"";
  display: table;
  clear: both;
}
ul {
	line-height: 40px;
	text-decoration: none;
	padding: 20px;
	border
}
.img0808 {
	float: right;
	width: 300px;
}
/* These values were determined by playing with the element.style in the url */
.img1853 {
	width: 60%;
	margin: auto;
	padding-left: 300px;
}
	
